.landing_inner {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem 10rem;

}

.landing_inner_content {
  display: flex;
  width: 100vh;
  flex-direction: column;
}

.landing_inner_content_top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.landing_inner_content_bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: center;
}

.landing_inner_content_bottom_label {
  color: #fff;
  font-size: 1.6rem;
}

.landing_innter_content_search {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
