/* @font-face {
    font-family: "DINAlternate-Bold";
    src: local("DINAlternate-Bold"),
        url("../public/assets/fonts/DINAlternate-Bold.ttf") format("truetype");
}

* {
    font-family: "DINAlternate-Bold" !important;
} */