#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  /* padding: 2rem; */
  background-color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

* {
  box-sizing: border-box;
}