/* #root {
  font-family: Imported;
  src: url(./fonts/DINAlternate-Bold.ttf);
}

#root {
  font-family: Imported;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
html,
body {
  width: 100%;
  height: 100vh;
  font-family: "DINAlternateBold" !important;
}

body {
  margin: 0;
  /* padding: 2rem; */
  background-color: #FFFDFB;
  font-family: "DINAlternateBold" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "DINAlternateBold";
  src: url("../src/fonts/DINAlternateBold.eot");
  src: url("../src/fonts/DINAlternateBold.eot") format("embedded-opentype"),
    url("../src/fonts/DINAlternateBold.woff2") format("woff2"),
    url("../src/fonts/DINAlternateBold.woff") format("woff"),
    url("../src/fonts/DINAlternateBold.ttf") format("truetype"),
    url("../src/fonts/DINAlternateBold.svg") format("svg");
  /* font-weight: normal;
  font-style: normal; */
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.font-size-20 {
  font-size: "2rem";
}

.color-white {
  color: white;
}

.h-100 {
  height: 100%;
}

[contenteditable] {
  outline: 0px solid transparent;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.landing-button [data-testid="rk-connect-button"] {
  color: #1c223d;
  padding: 0rem 4rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 20rem;
  font-size: 1.6rem;
}

[aria-labelledby="rk_connect_title"] {
  background: rgba(255, 253, 251, 0.8) !important;
}

/* .connectWalletWrapper > button {
  color: #1c223d !important;
  padding: 0rem 4rem !important;
  height: 4rem !important;
  background-color: #fff !important;
  border-radius: 20rem !important;
}


*/
.connect_wallet_button_white {
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 1.6rem;
  border-radius: 20rem;
  color: #fff;
  padding: 0 20px;
  height: 4rem;
  gap: 1rem;
  cursor: pointer;
}

.connect_wallet_button_black {
  background-color: transparent;
  border: 1px solid #000;
  font-size: 1.6rem;
  border-radius: 20rem;
  color: #000;
  padding: 0 20px;
  height: 4rem;
  gap: 1rem;
  cursor: pointer;
}
