.copy_container {
  background: #37426a;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 100%;
  padding: 1.2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:5rem;
}

.copy_container_text {
  color: #fff;
  font-size: 2rem;
}
