.transformWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer {
    width: 90vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer svg {
    width: 75vw;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer svg g polygon:hover {
    stroke: #FE7D06 !important;
    stroke-width: 1 !important;
    transition: fill-opacity .2s !important;
}