.transformWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer {
    width: 90vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer svg {
    width: 75vw;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer svg g polygon {
    fill-opacity: 1;
}

.gridContainer svg g polygon:hover {
    /* stroke: #FE7D06 !important;
    stroke-width: 0.3 !important; */
    fill-opacity: 0.75;
    transition: fill-opacity .2s !important;
}